@charset "UTF-8";

/*CORPO*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}

:root{
    --color-text: black;
    --background: #fff;
    --color-text-cont:rgb(255, 255, 255);
    --containers: rgb(255, 231, 15);
    --menu: rgb(241, 241, 241);
}

body{
    font-size:62.5%;
    transition: 0.2s;
    background:var(--background);
    overflow-y:hidden;
}

main{
    width: 100%;
    height: 100%;
    position: absolute;
    background:var(--background);
    color:var(--color-text);
    transition: 0.2s ease-in-out background, .3s ease-in-out color;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    color:var(--color-text);
}
.container h4{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin-left: 1rem;
    margin-top: 1rem;
    color: var(--color-text-cont);
    margin-bottom: 0.5rem;
    text-transform: capitalize;

    display:inline-block;
}

.container p.pp{
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    margin-top:8px;
    margin-left: 1rem;
    color: var(--color-text-cont);
    background-color: rgba(105, 105, 105, 0.2);
    text-align: center;
    
    height: 16px;
    width: 70px;
    border-radius: 1rem;

    text-transform: capitalize;
}

.container p.number{
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    margin-top:8px;
    margin-left: 1rem;
    color: var(--color-text-cont);
    background-color: rgba(105, 105, 105, 0.2);
    align-items: center;
    position: absolute;
    left: 15.5rem;
    
    height: 22px;
    width: 50px;
    border-radius: 1rem;

    text-transform: capitalize;
}

.containers{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    background:var(--background);
    transition: 0.2s ease-in-out background, 0.2s ease-in-out color;

}

.container{
    width: 18rem;
    height: 6.5rem;
    background-color: var(--containers);
    margin: 1rem;
    border-radius: 0.5rem;
}

.container img{
    height: 6rem;
    width: 6rem;
    position: relative;
    left: 8rem;
    bottom: 5.7rem;
    z-index:1;
}



/*LOADE*/

#div-load{
    background:#fff;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    transition:0.2s;
}

#img-load{
    position:absolute;
    width: 12rem;
    height: 12rem;
    border-top-color: #FFF;
    z-index:2;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%)
}


/*Menu*/

.menu{
    position:fixed;
    top:93.92%;
    height: 6vh;
    width: 100vw;
    background-color: var(--menu);
    border-top: solid 1px;
    border-color: rgba(95, 95, 95, 0.884);
    text-align: center;
    place-items: center;

    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;

    z-index:999;
}

.darkmodeLabel{
    cursor: pointer;
}

#darkmodeToggle:checked + main{
    --color-text: rgb(216, 216, 216);
    --background: rgb(36, 36, 36);
    --color-text-cont:rgb(236, 236, 236);
    --containers: rgba(255, 230, 0, 0.699);
    --menu:rgb(56, 56, 56);

    background: var(--background);
    color:var(--color-text);

    transition: 0.2s ease-in-out background, 0.2s ease-in-out color;
}

#darkmodeToggle{
    display: none;
    
}
.menu img:active{
    text-decoration: none;
    border-radius: .5rem;
    background-color: rgba(0, 0, 0, 0.329);
}

.menu img{
    height: 3.5vh;
    cursor:pointer;
}

/*DIV INFO*/

footer .info{
    position:fixed;
    top:100%;
    left:0px;
    width:100%;
    height:100%;
    transition:0.5s;
    background:var(--background);
    z-index:2;  
}

.info h3{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 700; 
    color:var(--color-text);
}

.info p{
    position: relative;
    color:var(--color-text);
    font-family: 'Poppins', Helvetica, sans-serif, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    margin-left: 8vw;
    margin-right: 8vw;
}

.info a{
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info img{
    border-radius: 1rem;
}

.info h1{
    text-align: center;
    font-family:'Poppins', sans-serif;
    font-size: 1rem;
    color:var(--color-text);
}