@charset "UTF-8";

/*CORPO*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-size:62.5%;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
}

.menu{
    position:absolute;
    top:93.92%;
    height: 6vh;
    width: 100vw;
    background-color: rgba(189, 189, 189, 0.171);
    border-top: solid 1px;
    border-color: rgba(0, 0, 0, 0.089);
    text-align: center;
    place-items: center;

    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.menu img{
    height: 3.5vh;
}

.menu a {
    color: #252525;
    transition: 0.5 ease;
}

.menu .active{
    color:rgb(126, 158, 255);
    border-bottom: .2rem solid rgb(105, 137, 235);
    width: 100%;
    border-radius: 1px;
    transition: 0.5 ease;
}
